<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ga.gaent.mapper.AtdMapper">

    <!-- 출퇴근확인 -->
    <select id="checkAtdStatus" parameterType="String" resultType="com.ga.gaent.dto.AtdDTO">
        SELECT 
            t.atd_num AS atdNum,
            t.emp_code AS empCode,
            TIME(t.atd_in_time) AS inTime,
            TIME(t.atd_out_time) AS outTime,
            CONCAT(
                FLOOR(a.weekly_work_minutes / 60), '시간 ',
                a.weekly_work_minutes % 60, '분'
            ) weeklyWorkTime
        FROM 
            attendance t
        JOIN (
            SELECT 
                emp_code,
                WEEK(atd_in_time, 1) AS week_num,
                SUM(TIMESTAMPDIFF(MINUTE, atd_in_time, IFNULL(atd_out_time, NOW() ) ) ) AS weekly_work_minutes
            FROM 
                attendance
            GROUP BY 
                emp_code,
                YEAR(atd_in_time),
                WEEK(atd_in_time, 1)
        ) a ON t.emp_code = a.emp_code AND a.week_num = WEEK(CURDATE(), 1)
        WHERE
            t.emp_code = #{empCode} AND
            DATE(t.atd_in_time) = CURDATE()
        ORDER BY 
            t.atd_in_time DESC
    </select>
    
    <!-- 출근하기 -->
    <insert id="atdIn" parameterType="String">
        INSERT INTO 
            attendance
            ( emp_code, atd_in_time )
        VALUES( 
            #{empCode}, NOW() )
    </insert>
    
    <!-- 퇴근하기 -->
    <update id="atdOut" parameterType="String">
        UPDATE 
            attendance
        SET 
            atd_out_time = NOW()
        WHERE
            emp_code = #{empCode} AND
            atd_in_Time IS NOT NULL
    </update>
    
    <!-- 출퇴근이력 -->
    <select id="selectAtdHistory" parameterType="String" resultType="com.ga.gaent.dto.AtdDTO">
        SELECT 
            atd_num atdNum,
            emp_code empCode,
            DATE_FORMAT(atd_in_time, '%H시%i분%s초') AS  inTime,
            DATE_FORMAT(atd_out_time, '%H시%i분%s초') AS  outTime,
            DATE_FORMAT(atd_in_time, '%Y') as year,
            DATE_FORMAT(atd_in_time, '%m') as month,
            DATE_FORMAT(atd_in_time, '%d') as day            
        FROM 
            attendance
        WHERE
            emp_code = #{empCode}
    </select>
    
    <!-- 일간 근무 시간 계산 -->
    <select id="dailyWorkMinutes">
        SELECT 
            TIMESTAMPDIFF(MINUTE, atd_in_time, IFNULL( atd_out_time, NOW() ) ) dailyWorkMinutes 
        FROM 
            attendance
        WHERE 
            DATE(atd_in_time) = CURDATE()
            AND emp_code = #{empCode}
    </select>
    <!-- 주간 근무 시간 계산 -->
    <select id="weeklyWorkMinutes">
        SELECT 
            a.weekly_work_minutes weeklyWorkMinutes
        FROM
            (
            SELECT
                WEEK(atd_in_time, 1) AS week_num,
                SUM(TIMESTAMPDIFF(MINUTE, atd_in_time, IFNULL(atd_out_time, NOW() ) ) ) AS weekly_work_minutes
            FROM
                attendance
            WHERE
                emp_code= #{empCode}
            GROUP BY
                YEAR(atd_in_time),
                WEEK(atd_in_time, 1)
            )a
        WHERE a.week_num = WEEK(CURDATE(), 1)
    </select>
    <!-- 월간 근무 시간 계산 -->
    <select id="monthlyWorkMinutes">
        SELECT a.monthly_work_minutes AS monthlyWorkMinutes
        FROM (
            SELECT
                MONTH(atd_in_time) AS month_num,
                SUM(TIMESTAMPDIFF(MINUTE, atd_in_time, IFNULL(atd_out_time, NOW() ) ) ) AS monthly_work_minutes
            FROM 
                attendance
            WHERE 
                emp_code = '20110004'
            GROUP BY 
                emp_code,
                YEAR(atd_in_time),
                MONTH(atd_in_time)
            ) a
        WHERE a.month_num = MONTH(CURDATE())
    </select>
</mapper>
