<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ga.gaent.mapper.EdocMapper">

    <select id="selectEdocType" resultType="com.ga.gaent.vo.EdocFormTypeVO">
        SELECT
            edoc_type edocType,
            edoc_form_title edocFormTitle,
            edoc_form_desc edocFormDesc,
            edoc_form_create_date edocFormCreateDate,
            edoc_form_update_date edocFormUpdateDate
        FROM
            edoc_form_type
    </select>
    
    <select id="selectApprover" resultType="com.ga.gaent.vo.EmpVO">
        SELECT
            emp_code empCode,
            team_code teamCode,
            rank_code rankCode,
            emp_kor_name korName
        FROM
            emp
    </select>

</mapper>