<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ga.gaent.mapper.EdocMapper">

    <!--
        @author : 정건희
        Description : 새 결재 진행에서 select로 선택하는 기안서 양식 정보
    -->
    <select id="selectEdocType" resultType="com.ga.gaent.vo.EdocFormTypeVO">
        SELECT
            edoc_type edocType,
            edoc_form_title edocFormTitle,
            edoc_form_desc edocFormDesc,
            edoc_form_create_date edocFormCreateDate,
            edoc_form_update_date edocFormUpdateDate
        FROM
            edoc_form_type
    </select>

    <!--
        @author : 정건희
        Description : 새 결재 진행에서 결재선에 들어갈 직원에 대한 정보 
    -->
    <select id="selectApprover" resultType="com.ga.gaent.vo.EmpVO">
        SELECT
            emp_code empCode,
            team_code teamCode,
            rank_code rankCode,
            emp_kor_name korName
        FROM
            emp
    </select>

    <!--
        @author : 정건희
        Description : 전자결재문서 작성 후 등록할 때 입력되는 정보
    -->
    <insert id="insertEdoc" parameterType="com.ga.gaent.dto.EdocRequestDTO" useGeneratedKeys="true" keyProperty="edocNum">
        INSERT INTO
            edoc(
                edoc_type,
                edoc_writer,
                edoc_enroll_date
            ) VALUES(
                #{edocType},
                #{edocWriter},
                NOW()
            )
    </insert>

    <!--
        @author : 정건희
        Description : 전자결재문서 작성 후 등록할 때 입력되는 첨부파일의 정보
    -->
    <insert id="insertEdocFile" parameterType="Map">
        INSERT INTO
            edoc_file(
                file_name,
                original_file_name,
                file_type,
                file_size,
            ) VALUES(
                #{fileName},
                #{orginalFileName},
                #{fileType},
                #{fileSize}
            )
    </insert>

    <!--
        @author : 정건희
        Description : 전자결재문서 작성 후 등록할 때 입력되는 기안서 양식의 정보
    -->
    <insert id="insertEdocDraft" parameterType="com.ga.gaent.dto.EdocFormTypeDTO">
        INSERT INTO
            edoc_draft(
                edoc_num,
                prop_start_date,
                prop_end_date,
                prop_title,
                prop_content
            ) VALUES(
                #{edocNum},
                #{propStartDate},
                #{propEndDate},
                #{propTitle},
                #{propContent}
            )
    </insert>

    <!--
        @author : 정건희
        Description : 전자결재문서 작성 후 등록할 때 입력되는 결재선(1차, 2차)의 정보
    -->
    <insert id="insertApprover" parameterType="Map">
        INSERT INTO
            edoc_approval(
                edoc_num,
                approver,
                appr_order
            ) VALUES(
                #{edocNum},
                #{approver},
                #{apprOrder}
            )
    </insert>

    <!--
        @author : 정건희
        Description : 내가 결재(승인, 반려)해야 할 대기 문서의 정보
    -->
    <select id="selectToDo" parameterType="Map" resultType="Map">
        SELECT
            e.edoc_num edocNum,
            e.edoc_enroll_date edocEnrollDate,
            eft.edoc_form_title edocFormTitle,
            ed.prop_title propTitle,
            ef.file_name fileName,
            emp.emp_kor_name korName,
            e.edoc_status edocStatus
        FROM
            edoc e
                LEFT OUTER JOIN emp emp ON e.edoc_writer = emp.emp_code
                LEFT OUTER JOIN edoc_draft ed ON e.edoc_num = ed.edoc_num
                LEFT OUTER JOIN edoc_file ef ON e.file_name = ef.file_name
                LEFT OUTER JOIN edoc_form_type eft ON e.edoc_type = eft.edoc_type
                LEFT OUTER JOIN (
                    SELECT 
                        ea.edoc_num,
                        ea.approver empCode,
                        emp2.emp_kor_name approver,
                        ea.appr_order,
                        ea.appr_status,
                        ea.appr_date,
                        ROW_NUMBER() OVER (PARTITION BY ea.edoc_num ORDER BY ea.appr_order) row_num
                    FROM
                        edoc_approval ea
                            LEFT OUTER JOIN emp emp2 ON ea.approver = emp2.emp_code
                ) ea1 ON e.edoc_num = ea1.edoc_num AND ea1.row_num = 1 LEFT OUTER JOIN (
                    SELECT 
                        ea.edoc_num,
                        ea.approver empCode,
                        emp2.emp_kor_name approver,
                        ea.appr_order,
                        ea.appr_status,
                        ea.appr_date,
                        ROW_NUMBER() OVER (PARTITION BY ea.edoc_num ORDER BY ea.appr_order) row_num
                    FROM
                        edoc_approval ea
                            LEFT OUTER JOIN emp emp2 ON ea.approver = emp2.emp_code
                ) ea2 ON e.edoc_num = ea2.edoc_num AND ea2.row_num = 2
        WHERE
            e.edoc_status = '0' AND (ea1.empCode = #{empCode} OR ea2.empCode = #{empCode})
        ORDER BY
            e.edoc_enroll_date DESC
        <if test="startRow != null">
            LIMIT
                #{startRow}, 10
        </if>
    </select>

    <!--
        @author : 정건희
        Description : 내가 결재(승인, 반려)해야 할 대기 문서의 상세 정보
    -->
    <select id="selectEdocDetail" parameterType="int" resultType="Map">
        SELECT
            e.edoc_num edocNum,
            emp.team_code teamCode,
            emp.emp_kor_name edocWriter,
            e.edoc_status edocStatus,
            e.edoc_enroll_date edocEnrollDate,
            ea1.empCode approverCode1,
            ea1.approver approver1,
            ea1.appr_order apprOrder1,
            ea1.appr_status apprStatus1,
            ea1.appr_date apprDate1,
            ea2.empCode approverCode2,
            ea2.approver approver2, 
            ea2.appr_order apprOrder2,
            ea2.appr_status apprStatus2,
            ea2.appr_date apprDate2,
            eft.edoc_type edocType,
            eft.edoc_form_title edocFormTitle,
            ed.prop_start_date propStartDate,
            ed.prop_end_date propEndDate,
            ed.prop_title propTitle,
            ed.prop_content propContent,
            ef.file_name fileName
        FROM
            edoc e
                LEFT OUTER JOIN emp emp ON e.edoc_writer = emp.emp_code
                LEFT OUTER JOIN edoc_draft ed ON e.edoc_num = ed.edoc_num
                LEFT OUTER JOIN edoc_file ef ON e.file_name = ef.file_name
                LEFT OUTER JOIN edoc_form_type eft ON e.edoc_type = eft.edoc_type
                LEFT OUTER JOIN (
                    SELECT 
                        ea.edoc_num,
                        ea.approver empCode,
                        emp2.emp_kor_name approver,
                        ea.appr_order,
                        ea.appr_status,
                        ea.appr_date,
                        ROW_NUMBER() OVER (PARTITION BY ea.edoc_num ORDER BY ea.appr_order) row_num
                    FROM
                        edoc_approval ea
                            LEFT OUTER JOIN emp emp2 ON ea.approver = emp2.emp_code
                ) ea1 ON e.edoc_num = ea1.edoc_num 
                         AND ea1.row_num = 1 LEFT OUTER JOIN (
                            SELECT 
                                ea.edoc_num,
                                ea.approver empCode,
                                emp2.emp_kor_name approver,
                                ea.appr_order,
                                ea.appr_status,
                                ea.appr_date,
                                ROW_NUMBER() OVER (PARTITION BY ea.edoc_num ORDER BY ea.appr_order) row_num
                            FROM
                                edoc_approval ea
                                    LEFT OUTER JOIN emp emp2 ON ea.approver = emp2.emp_code
                        ) ea2 ON e.edoc_num = ea2.edoc_num AND ea2.row_num = 2
        WHERE
            e.edoc_num = #{edocNum};
    </select>










     <!--
        @author : 조인환
        Description : 전자결재문서 작성 후 등록할 때 입력되는 기안서 양식의 정보
    -->
    <insert id="insertEdocVacation" parameterType="com.ga.gaent.dto.EdocFormTypeDTO">
        INSERT INTO
            edoc_vacation(
                edoc_num,
                vac_type,
                vac_start_date,
                vac_end_date,
                vac_reason
            ) VALUES(
                #{edocNum},
                #{vacType},
                #{vacStartDate},
                #{vacEndDate},
                #{vacReason}
            )
    </insert>
    
    <insert id="insertEdocProject" parameterType="com.ga.gaent.dto.EdocFormTypeDTO">
        INSERT INTO
            edoc_project(
                edoc_num,
                project_title,
                project_content,
                project_estimate
            ) VALUES(
                #{edocNum},
                #{projectTitle},
                #{projectContent},
                #{projectEstimate}
            )
    </insert>
    
    <insert id="insertEdocEvent" parameterType="com.ga.gaent.dto.EdocFormTypeDTO">
        INSERT INTO
            edoc_event(
                edoc_num,
                event_type,
                event_date,
                event_place,
                event_expense
            ) VALUES(
                #{edocNum},
                #{eventType},
                #{eventDate},
                #{eventPlace},
                #{eventExpense}
            )
    </insert>
    
    <insert id="insertEdocCar" parameterType="com.ga.gaent.dto.EdocFormTypeDTO">
        INSERT INTO
            edoc_car(
                edoc_num,
                car_reason,
                car_departure,
                car_arrival,
                car_start_date,
                car_return_date,
                car_type,
                car_num
            ) VALUES(
                #{edocNum},
                #{carReason},
                #{carDeparture},
                #{carArrival},
                #{carStartDate},
                #{carRuturnDate},
                #{carType},
                #{carNum}
            )
    </insert>
    
    <insert id="insertEdocReport" parameterType="com.ga.gaent.dto.EdocFormTypeDTO">
        INSERT INTO
            edoc_report(
                edoc_num,
                report_type,
                report_title,
                report_content
            ) VALUES(
                #{edocNum},
                #{reportType},
                #{reportTitle},
                #{reportContent}
            )
    </insert>

    
    <!-- 결재, 반려처리 -->
    <!-- 결재선 -->
    <update id="updateEdocApprovalStatus" parameterType="map">
        UPDATE 
            edoc_approval
        SET 
            appr_reason = #{apprReason},
            appr_status = #{apprStatus},
            appr_date = NOW()
        WHERE 
            edoc_num = #{edocNum} AND
            approver = #{empCode}
    </update>
    
    <!-- 공통 -->
    <update id="updateEdocStatus" parameterType="map">
        UPDATE  
            edoc
        SET     
            edoc_status = #{request}
        WHERE 
            edoc_num = #{edocNum} 
    </update>
    
    
</mapper>
