<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ga.gaent.mapper.EdocMapper">

    <select id="selectEdocType" resultType="com.ga.gaent.vo.EdocFormTypeVO">
        SELECT
            edoc_type edocType,
            edoc_form_title edocFormTitle,
            edoc_form_desc edocFormDesc,
            edoc_form_create_date edocFormCreateDate,
            edoc_form_update_date edocFormUpdateDate
        FROM
            edoc_form_type
    </select>
    
    <select id="selectApprover" resultType="com.ga.gaent.vo.EmpVO">
        SELECT
            emp_code empCode,
            team_code teamCode,
            rank_code rankCode,
            emp_kor_name korName
        FROM
            emp
    </select>
    
    <insert id="insertEdoc" parameterType="com.ga.gaent.dto.EdocRequestDTO" useGeneratedKeys="true" keyProperty="edocNum">
        INSERT INTO
            edoc(
                edoc_type,
                edoc_writer,
                edoc_enroll_date
            ) VALUES(
                #{edocType},
                #{edocWriter},
                NOW()
            )
    </insert>
    
    <insert id="insertEdocFile" parameterType="Map">
        INSERT INTO
            edoc_file(
                file_name,
                original_file_name,
                file_type,
                file_size,
            ) VALUES(
                #{fileName},
                #{orginalFileName},
                #{fileType},
                #{fileSize}
            )
    </insert>
    
    <insert id="insertEdocDraft" parameterType="com.ga.gaent.dto.EdocRequestDTO">
        INSERT INTO
            edoc_draft(
                edoc_num,
                prop_start_date,
                prop_end_date,
                prop_title,
                prop_content
            ) VALUES(
                #{edocNum},
                #{propStartDate},
                #{propEndDate},
                #{propTitle},
                #{propContent}
            )
    </insert>
    
    <insert id="insertApprover" parameterType="Map">
        INSERT INTO
            edoc_approval(
                edoc_num,
                approver,
                appr_order,
                appr_date
            ) VALUES(
                #{edocNum},
                #{approver},
                #{apprOrder},
                NOW()
            )
    </insert>
    
    <select id="selectToDo" parameterType="Map" resultType="Map">
        SELECT
            e.edoc_num edocNum,
            e.edoc_enroll_date edocEnrollDate,
            eft.edoc_form_title edocFormTitle,
            ed.prop_title propTitle,
            ef.file_name fileName,
            emp.emp_kor_name korName,
            e.edoc_status edocStatus
        FROM
            edoc e
                LEFT OUTER JOIN emp emp ON e.edoc_writer = emp.emp_code
                LEFT OUTER JOIN edoc_draft ed ON e.edoc_num = ed.edoc_num
                LEFT OUTER JOIN edoc_file ef ON e.file_name = ef.file_name
                LEFT OUTER JOIN edoc_form_type eft ON e.edoc_type = eft.edoc_type
                LEFT OUTER JOIN (
                    SELECT 
                        ea.edoc_num,
                        ea.approver empCode,
                        emp2.emp_kor_name approver,
                        ea.appr_order,
                        ea.appr_status,
                        ea.appr_date,
                        ROW_NUMBER() OVER (PARTITION BY ea.edoc_num ORDER BY ea.appr_order) row_num
                    FROM
                        edoc_approval ea
                            LEFT OUTER JOIN emp emp2 ON ea.approver = emp2.emp_code
                ) ea1 ON e.edoc_num = ea1.edoc_num AND ea1.row_num = 1 LEFT OUTER JOIN (
                    SELECT 
                        ea.edoc_num,
                        ea.approver empCode,
                        emp2.emp_kor_name approver,
                        ea.appr_order,
                        ea.appr_status,
                        ea.appr_date,
                        ROW_NUMBER() OVER (PARTITION BY ea.edoc_num ORDER BY ea.appr_order) row_num
                    FROM
                        edoc_approval ea
                            LEFT OUTER JOIN emp emp2 ON ea.approver = emp2.emp_code
                ) ea2 ON e.edoc_num = ea2.edoc_num AND ea2.row_num = 2
        WHERE
            e.edoc_status = '0' AND (ea1.empCode = #{empCode} OR ea2.empCode = #{empCode})
        ORDER BY
            e.edoc_enroll_date DESC
        <if test="startRow != null">
            LIMIT
                #{startRow}, 10
        </if>
    </select>
    
    <select id="selectEdocDetail" parameterType="int" resultType="Map">
        SELECT
            e.edoc_num edocNum,
            emp.team_code teamCode,
            emp.emp_kor_name edocWriter,
            e.edoc_status edocStatus,
            e.edoc_enroll_date edocEnrollDate,
            ea1.approver approver1,
            ea1.appr_order apprOrder1,
            ea1.appr_status apprStatus1,
            ea1.appr_date apprDate1,
            ea2.approver approver2,
            ea2.appr_order apprOrder2,
            ea2.appr_status apprStatus2,
            ea2.appr_date apprDate2,
            eft.edoc_type edocType,
            eft.edoc_form_title edocFormTitle,
            ed.prop_start_date propStartDate,
            ed.prop_end_date propEndDate,
            ed.prop_title propTitle,
            ed.prop_content propContent,
            ef.file_name fileName
        FROM
            edoc e
                LEFT OUTER JOIN emp emp ON e.edoc_writer = emp.emp_code
                LEFT OUTER JOIN edoc_draft ed ON e.edoc_num = ed.edoc_num
                LEFT OUTER JOIN edoc_file ef ON e.file_name = ef.file_name
                LEFT OUTER JOIN edoc_form_type eft ON e.edoc_type = eft.edoc_type
                LEFT OUTER JOIN (
                    SELECT 
                        ea.edoc_num,
                        emp2.emp_kor_name approver,
                        ea.appr_order,
                        ea.appr_status,
                        ea.appr_date,
                        ROW_NUMBER() OVER (PARTITION BY ea.edoc_num ORDER BY ea.appr_order) row_num
                    FROM
                        edoc_approval ea
                            LEFT OUTER JOIN emp emp2 ON ea.approver = emp2.emp_code
                ) ea1 ON e.edoc_num = ea1.edoc_num AND ea1.row_num = 1 LEFT OUTER JOIN (
                    SELECT 
                        ea.edoc_num,
                        emp2.emp_kor_name approver,
                        ea.appr_order,
                        ea.appr_status,
                        ea.appr_date,
                        ROW_NUMBER() OVER (PARTITION BY ea.edoc_num ORDER BY ea.appr_order) row_num
                    FROM
                        edoc_approval ea
                            LEFT OUTER JOIN emp emp2 ON ea.approver = emp2.emp_code
                ) ea2 ON e.edoc_num = ea2.edoc_num AND ea2.row_num = 2
        WHERE
            e.edoc_num = #{edocNum};
    </select>

</mapper>