<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ga.gaent.mapper.FileMapper">

    <!-- 쪽지 보내기 첨부 파일 -->
    <insert id="insertMsgFile" parameterType="com.ga.gaent.vo.FileVO"> 
        INSERT INTO msg_file(
            file_name,
            original_file_name,
            file_type,
            file_size,
            file_create_date
        ) VALUES(
            #{fileName},
            #{originalName},
            #{fileType},
            #{fileSize},
            NOW()
        )
    </insert>
    
    <!-- 직원 등록 이미지 파일 -->
    <insert id="insertProfile" parameterType="com.ga.gaent.vo.FileVO">
        INSERT INTO
            profileimg(
            img_name,
            img_original_name,
            img_type,
            img_size,
            img_create_date
        ) VALUES(
            #{fileName},
            #{originalName},
            #{fileType},
            #{fileSize},
            NOW()
        )
    </insert>

</mapper>