<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ga.gaent.mapper.InquiryMapper">
    
    <!-- 직원 리스트 정보 조회 -->
    <select id="selectEmpList" resultType="com.ga.gaent.vo.EmpVO">
        SELECT
            e.emp_code empCode,
            e.team_code teamCode,
            t.team_name teamName,
            t.parent_team_code parentTeamCode,
            CASE
                WHEN t.parent_team_code = 10 THEN ''
                ELSE COALESCE(parentTeam.team_name, '')
            END AS parentTeamName,
            e.rank_code rankCode,
            CASE
                WHEN e.rank_code = 1 THEN '대표이사'
                WHEN e.rank_code = 2 THEN '부장'
                WHEN e.rank_code = 3 THEN '팀장'
                WHEN e.rank_code = 4 THEN '대리'
                WHEN e.rank_code = 5 THEN '사원'
                ELSE ''
            END AS rankName,
            e.emp_profile profile,
            e.emp_kor_name korName,
            CONCAT(
                SUBSTRING(e.emp_phone, 1, 3),
                '-',
                SUBSTRING(e.emp_phone, 4, 4),
                '-',
                SUBSTRING(e.emp_phone, 8)
            ) AS phone,
            e.emp_hire_date hireDate,
            e.final_modifier finalModifier
        FROM
            emp e
        JOIN
            team t ON e.team_code = t.team_code
        LEFT JOIN
            team parentTeam ON t.parent_team_code = parentTeam.team_code
        ORDER BY
            rankCode, teamCode, korName
        LIMIT
            ${startRow}, ${rowPerPage}
    </select>
    
    <!-- 직원 리스트 카운트 -->
    <select id="selectEmpCount" resultType="int">
        SELECT
            COUNT(*)
        FROM
            emp
    </select>
    
    <!-- 그룹 리스트 정보 조회 -->
    <select id="selectTeamList" resultType="com.ga.gaent.vo.TeamVO">
        SELECT
            team_code teamCode,
            team_name teamName,
            team_des teamDes,
            parent_team_code parentTeamCode,
            team_create_date teamCreateDate,
            team_update_date teamUpdateDate
        FROM
            team
        WHERE
            team_code != 10
        LIMIT
            ${startRow}, ${rowPerPage}
    </select>
    
    <!-- 그룹 리스트 카운트 -->
    <select id="selectTeamCount" resultType="int">
        SELECT
            COUNT(*)
        FROM
            team
        WHERE
            team_code != 10
    </select>
    
    <!-- 피라미드 조직도 정보 조회 -->
    <select id="selectGroupInfo" resultType="Map">
        SELECT
            team_code AS id,
            parent_team_code AS parentId,
            CASE 
                WHEN team_name = 'GAEnt.' THEN '대표이사'
                ELSE team_name
            END AS
                name,
            team_des des
        FROM
            team
        ORDER BY
            team_code;
    </select>
</mapper>