<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ga.gaent.mapper.LoginMapper">

    <!--
        @author : 정건희
        @since : 2024. 07. 12.
        Description : 로그인
    -->
    <select id="selectLoginCheck" parameterType="com.ga.gaent.dto.LoginRequestDTO" resultType="com.ga.gaent.vo.EmpVO">
        SELECT
            e.emp_code empCode,
            e.team_code teamCode,
            t.team_name teamName,
            e.rank_code rankCode,
            CASE
                WHEN rank_code = 1 THEN '대표'
                WHEN rank_code = 2 THEN '부장'
                WHEN rank_code = 3 THEN '팀장'
                WHEN rank_code = 4 THEN '대리'
                WHEN rank_code = 5 THEN '사원'
            END rankName,
            e.emp_id empId,
            e.emp_kor_name korName,
            e.emp_phone phone,
            e.total_leave totalLeave,
            e.use_leave useLeave
        FROM
            emp e
                LEFT OUTER JOIN team t ON e.team_code = t.team_code
        WHERE
            emp_id = #{email} AND
            emp_pw = #{password}
    </select>
    
    <!--
        @author : 정건희
        @since : 2024. 07. 12.
        Description : 아이디 찾기
    -->
    <select id="selectEmpId" parameterType="com.ga.gaent.dto.LoginRequestDTO" resultType="com.ga.gaent.vo.EmpVO">
        SELECT
            emp_id empId
        FROM
            emp
        WHERE
            emp_kor_name = #{name} AND
            emp_phone = #{phone}
    </select>
    
    <!--
        @author : 정건희
        @since : 2024. 07. 12.
        Description : 비밀번호 찾기
    -->
    <select id="selectEmpPw" parameterType="com.ga.gaent.dto.LoginRequestDTO" resultType="com.ga.gaent.vo.EmpVO">
        SELECT
            emp_id empId,
            emp_pw empPw,
            emp_kor_name korName
        FROM
            emp
        WHERE
            emp_id = #{email} AND
            emp_kor_name = #{name} AND
            emp_phone = #{phone}
    </select>
    
    <!--
        @author : 정건희
        @since : 2024. 07. 12.
        Description : 비밀번호 재설정
    -->
    <update id="updateEmpPw" parameterType="com.ga.gaent.dto.LoginRequestDTO">
        UPDATE
            emp
        SET
            emp_pw = #{password}
        WHERE
            emp_id = #{email} AND
            emp_kor_name = #{name}
    </update>

</mapper>