<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ga.gaent.mapper.MsgMapper">
    <select id="selectMsgList" parameterType="map" resultType="com.ga.gaent.dto.MsgDTO">
        SELECT
            m.msg_num msgNum,
            m.msg_sender sender,
            se.emp_kor_name senderName,
            m.msg_receiver receiver,
            re.emp_kor_name receiverName,
            m.msg_title msgTitle,
            m.file_name msgFileName,
            m.msg_content msgContent,            
            DATE_FORMAT(m.msg_send_time, '%y/%m/%d %H시%i분') AS sendTime,
   	        DATE_FORMAT(m.msg_read_time, '%y/%m/%d %H시%i분') AS readTime,
            m.msg_send_del_status sendDelStatus,
            m.msg_receive_del_status receiveDelStatus
        FROM 
            msg m 
                JOIN emp re ON m.msg_receiver = re.emp_code
                JOIN emp se ON m.msg_sender = se.emp_code 
        WHERE
            1=1 AND
            <if test="searchMsg != null ">
                ( m.msg_title LIKE CONCAT('%', #{searchMsg}, '%') OR
                se.emp_kor_name LIKE CONCAT('%', #{searchMsg}, '%') OR
                re.emp_kor_name LIKE CONCAT('%', #{searchMsg}, '%') ) AND
            </if>
            <choose>
                <when test="request == 0">  <!-- 0번요청: 전체 -->
                   (
                        m.msg_sender = #{empCode} AND 
                        m.msg_send_del_status = 'N'
                    OR
                        m.msg_receiver = #{empCode} AND 
                        m.msg_receive_del_status = 'N'
                    )
                </when>
               <when test="request == 1 ">  <!--1번요청: 받은거 -->
                    m.msg_receiver = #{empCode} AND 
                    m.msg_receive_del_status = 'N'
                </when>
                <when test="request == 2 ">  <!-- 2번요청: 보낸거 -->
                    m.msg_sender = #{empCode} AND
                    m.msg_send_del_status = 'N'
                </when>
                <when test="request == 3 ">  <!-- 3번요청: 내게쓰기 -->
                    m.msg_sender = #{empCode} AND
                    m.msg_receiver = #{empCode}
                </when>
                <when test="request == 4 "> <!--4번요청: 휴지통 -->
                    (
                        m.msg_sender = #{empCode} AND
                        m.msg_send_del_status = 'Y'
                    OR
                        m.msg_receiver = #{empCode} AND
                        m.msg_receive_del_status = 'Y'
                    )
                </when>
            </choose>
        ORDER BY
            msg_send_time DESC
        LIMIT #{startRow}, 10
    </select>
    <!-- 쪽지수 -->
    <select id="msgCnt" resultType="int" parameterType="map">
            SELECT 
                COUNT(*)
            FROM 
                msg m 
                    JOIN emp re ON m.msg_receiver = re.emp_code
                    JOIN emp se ON m.msg_sender = se.emp_code 
            WHERE
                1=1 AND
                <if test="searchMsg != null ">
                    ( m.msg_title LIKE CONCAT('%', #{searchMsg}, '%') OR
                    se.emp_kor_name LIKE CONCAT('%', #{searchMsg}, '%') OR
                    re.emp_kor_name LIKE CONCAT('%', #{searchMsg}, '%') ) AND
                </if>
                <choose>
                    <when test="request == 0">  <!-- 0번요청: 전체 -->
                       (
                            m.msg_sender = #{empCode} AND 
                            m.msg_send_del_status = 'N'
                        OR
                            m.msg_receiver = #{empCode} AND 
                            m.msg_receive_del_status = 'N'
                        )
                    </when>
                   <when test="request == 1 ">  <!--1번요청: 받은거 -->
                        m.msg_receiver = #{empCode} AND 
                        m.msg_receive_del_status = 'N'
                    </when>
                    <when test="request == 2 ">  <!-- 2번요청: 보낸거 -->
                        m.msg_sender = #{empCode} AND
                        m.msg_send_del_status = 'N'
                    </when>
                    <when test="request == 3 ">  <!-- 3번요청: 내게쓰기 -->
                        m.msg_sender = #{empCode} AND
                        m.msg_receiver = #{empCode}
                    </when>
                    <when test="request == 4 "> <!--4번요청: 휴지통 -->
                        (
                            m.msg_sender = #{empCode} AND
                            m.msg_send_del_status = 'Y'
                        OR
                            m.msg_receiver = #{empCode} AND
                            m.msg_receive_del_status = 'Y'
                        )
                    </when>
                </choose>
    </select>
    
    
    <!-- 쪽지쓰기 -->
    <insert id="sendMsg" parameterType="com.ga.gaent.dto.MsgDTO">
        INSERT INTO
	       msg(
               msg_sender,
               msg_receiver,
               msg_title,
               msg_content,
               file_name
           ) VALUES(
               #{sender},
               #{receiver},
               #{msgTitle},
               #{msgContent},
               #{msgFileName}
           )
    </insert>

    <!-- 메시지 삭제,복구 상태변경 -->
    <update id="updateMsgStatus" parameterType="map">
        UPDATE msg
        SET
            msg_receive_del_status = CASE                   <!--수신자삭제상태변경 -->
                WHEN msg_receiver = #{empCode} THEN         <!-- 수신자가 '나'이면 -->
                    CASE 
                        WHEN #{request} = 1 THEN 'Y'        <!-- req가 1이면 삭제상태로  -->
                        WHEN #{request} = 2 THEN 'N'        <!-- req가 2이면 복구상태로  -->
                        WHEN #{request} = 3 THEN 'D'        <!-- req가 3이면 완전삭제로  -->
                        ELSE msg_receive_del_status         <!-- req가 그 외에는 그대로-->
                    END
                ELSE msg_receive_del_status                 <!-- 수신자가 내가 아닐 시 그대로 -->
            END,
            msg_send_del_status = CASE                      <!--발신자삭제상태변경 -->
                WHEN msg_sender = #{empCode} THEN           <!-- 발신자가 '나'이면 -->
                    CASE 
                        WHEN #{request} = 1 THEN 'Y'        <!-- req가 1이면 삭제상태로  -->
                        WHEN #{request} = 2 THEN 'N'        <!-- req가 2이면 복구상태로  -->
                        WHEN #{request} = 3 THEN 'D'        <!-- req가 3이면 완전삭제로  -->
                        ELSE msg_send_del_status            <!-- req가 그 외에는 그대로-->
                    END
                ELSE msg_send_del_status                    <!-- 발신자가 내가 아닐 시 그대로 -->
            END
        WHERE
            msg_num = #{msgNum}
            AND (msg_receiver = #{empCode} OR msg_sender = #{empCode})
    </update>
    
    <!-- 쪽지상세 -->
    <select id="msgDetail" parameterType="String" resultType="com.ga.gaent.dto.MsgDTO">
        SELECT
            m.msg_num msgNum,
            m.msg_sender sender,
            se.emp_kor_name senderName,
            m.msg_receiver receiver,
            re.emp_kor_name receiverName,
            m.msg_title msgTitle,
            m.file_name msgFileName,
            f.original_file_name msgOriginalFileName,
            m.msg_content msgContent,            
            DATE_FORMAT(m.msg_send_time, '%y/%m/%d %H시%i분') AS sendTime,
            DATE_FORMAT(m.msg_read_time, '%y/%m/%d %H시%i분') AS readTime
        FROM 
            msg m 
                JOIN emp re ON m.msg_receiver = re.emp_code
                JOIN emp se ON m.msg_sender = se.emp_code
                LEFT JOIN msg_file f ON m.file_name = f.file_name 
        WHERE
            m.msg_num = #{msgNum}
    </select>
    
    <!-- 쪽지읽기처리 -->
    <update id="readMsg" parameterType="map">
        UPDATE msg
        SET 
            msg_read_time = NOW()
        WHERE
            msg_num = #{msgNum} AND
            msg_read_time IS NULL AND
            msg_receiver = #{empCode}
    </update>
    
    <!-- 쪽지 열람 권한 -->
    <select id="checkMsgOpen" parameterType="map" resultType="String">
        SELECT 
            msg_num
        FROM msg
        WHERE 
            msg_num = #{msgNum} AND
            (
            msg_sender = #{empCode} OR
            msg_receiver = #{empCode}
            )
    </select>
    
    <!-- 안읽은쪽지수 -->
    <select id="msgNotReadCnt" parameterType="String">
        SELECT COUNT(*)
        FROM msg
        WHERE 
            msg_read_time IS NULL AND 
            msg_receiver = #{empCode}
    </select>

    <!-- 쪽지 영구삭제 -->
    <delete id="eliminateMsg">
        DELETE 
        FROM 
            msg
        WHERE 
            msg_send_del_status = 'D' AND
            msg_receive_del_status = 'D'    
    </delete>
    <!-- 쪽지 영구삭제 -->
    <delete id="eliminateMsgFile">
        DELETE FROM msg_file
        WHERE file_name IN (
            SELECT file_name
            FROM msg
            WHERE msg_send_del_status = 'D' AND
            msg_receive_del_status = 'D'AND
            file_name IS NOT NULL
        )   
    </delete>
</mapper>