<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ga.gaent.mapper.NoticeMapper">
    
    <!-- 공지사항 개수 -->
    <select id="selectNoticeCount" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM 
            notice
        WHERE 
            notice_title LIKE CONCAT('%', #{search}, '%')
        AND (
            #{category} IS NULL OR category = #{category}
            )
    </select>
    
    <!-- 공지사항 목록 -->
    <select id="selectNoticeList" parameterType="map" resultType="com.ga.gaent.vo.NoticeVO">
    SELECT 
        notice_num noticeNum,
        notice_writer noticeWriter,
        notice_category noticeCategory,
        notice_title noticeTitle,
        notice_content noticeCotent,
        notice_create_date noticeCreateDate,
        notice_update_date noticeUpdateDate,
        notice_count noticeCount
    FROM 
        notice
    WHERE 
        noticeTitle LIKE CONCAT('%', #{search}, '%')
      AND(
        #{category} IS NULL OR category = #{category}
        )
    ORDER BY 
        noticeNum 
    DESC
    LIMIT 
        #{beginRow}, 
        #{rowPerPage}
  </select>
     
    <!-- 공지사항 상세조회 -->
    <select id="selectNoticeOne" parameterType="int" resultType="map">
        SELECT
            notice_num noticeNum,
            notice_writer noticeWriter,
            notice_category noticeCategory,
            notice_title noticeTitle,
            notice_content noticeCotent,
            notice_create_date noticeCreateDate,
            notice_update_date noticeUpdateDate,
            notice_count noticeCount
        FROM
            notice
        WHERE
            notice_num = ${noticeNum}
    </select>
    
    <!-- 등록 -->
    <insert id="insertNotice" parameterType="com.ga.gaent.vo.NoticeVO">
        INSERT INTO notice(
            notice_writer, 
            notice_category,
            notice_title, 
            notice_content, 
            notice_create_date, 
            notice_update_date,
            notice_count,
            )
        VALUES(
            #{noticeWriter}, 
            #{noticeCategory}, 
            #{noticeTitle},
            #{noticeContent}, 
            NOW(), 
            NOW(),
            0
            )
    </insert>
    
    <!-- 수정 -->
    <update id="updateNotice" parameterType="com.ga.gaent.vo.NoticeVO">
        UPDATE 
            notice
        SET 
            title = #{title},
            content = #{content},
            category = #{category},
            updatedDate = NOW()
        WHERE 
            noticeNum = #{noticeNum}
    </update>
        
    <!-- 삭제 -->
    <delete id="deleteNotice" parameterType="int">
        DELETE FROM 
            notice
        WHERE 
            noticeNum = #{noticeNum}
    </delete>
    
    <!-- 조회수 -->
    <select id="noticeCount" parameterType="int">
        UPDATE notice
        SET NoticeCount = NoticeCount+1
        WHERE notice_num = #{noticeNum}
    </select>
</mapper>