<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ga.gaent.mapper.TeamMapper">
    
    <!-- 조직도 정보 조회 -->
    <select id="selectTreeInfo" resultType="Map">
        SELECT
            team_code  id,
            parent_team_code parent,
            team_name text
        FROM
            team
        
        UNION ALL

        SELECT
            emp_code id,
            team_code parent,
            emp_kor_name text
        FROM
            emp
        ORDER BY
            parent, id, text
    </select>
    
    <!--  부서 등록 -->
    <insert id="insertTeam" parameterType="com.ga.gaent.vo.TeamVO">
        INSERT INTO team(
            team_code,
            team_name,
            team_des,
            parent_team_code,
            team_create_date,
            team_update_date
        )VALUES(
            #{teamCode},
            #{teamName},
            #{teamDes},
            #{parentTeamCode},
            NOW(),
            NOW()
        )
    </insert>
    
    <!-- 부서 수정 -->
    <update id="updateTeam" parameterType="com.ga.gaent.vo.TeamVO">
        UPDATE
            team
        SET
            team_name = #{teamName},
            team_des = #{teamDes},
            parent_team_code = #{parentTeamCode},
            team_update_date = NOW()
        WHERE
            team_code = #{teamCode}
    </update>
    
    <!-- 부서 삭제 -->
    <delete id="deleteTeam" parameterType="int">
        DELETE FROM
            team
        WHERE
            team_code = #{teamCode}
        <!-- 부서원이 1명이라도 존재할 경우 삭제 취소 -->
        AND NOT EXISTS (
            SELECT
                1
            FROM
                emp
            WHERE team_code = #{teamCode}
        )
    </delete>
    
    <!-- 부서 리스트 조회 -->
    <select id="selectTeamList" resultType="com.ga.gaent.vo.TeamVO">
        SELECT
            team_code teamCode,
            team_name teamName,
            team_des teamDes,
            parent_team_code parentTeamCode,
            team_create_date teamCreateDate,
            team_update_date teamUpdateDate
        FROM
            team
        WHERE
            team_code != 10
        LIMIT
            ${startRow}, ${rowPerPage}
    </select>
    
    <!-- 부서 리스트 카운트 -->
    <select id="selectTeamCount" resultType="int">
        SELECT
            COUNT(*)
        FROM
            team
        WHERE
            team_code != 10
    </select>
</mapper>