<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ga.gaent.mapper.VacationMapper">

    <select id="selectMyVacStatus" parameterType="String" resultType="map">
        SELECT 
            emp_kor_name empName,
            total_leave totalLeave,
            use_leave useLeave
        FROM
            emp
        WHERE 
            emp_code = #{empCode}
    </select>
    
    <select id="selectMyVacList" parameterType="map" resultType="com.ga.gaent.dto.VacationDTO">
        SELECT
            edoc.edoc_num edocNum,
            edoc.edoc_title vacTitle,
            vac.vac_type vacType,
            vac.vac_start_date vacStartDate,
            vac.vac_end_date vacEndDate,
            DATEDIFF(vac.vac_end_date,vac.vac_start_date)+1 AS vacPeriod,
            vac.vac_reason vacReason
        FROM 
            edoc
            JOIN emp
                ON edoc_writer = emp_code
            JOIN edoc_vacation vac
                ON edoc.edoc_num = vac.edoc_num
        WHERE
            emp_code = #{empCode} AND
            edoc.edoc_status IN ('0','1','2')
        ORDER BY
            edoc.edoc_enroll_date DESC
    </select>
    
    <select id="myVacCnt" parameterType="map" resultType="int">
        SELECT
            COUNT(*)
        FROM 
            edoc
            JOIN emp
                ON edoc_writer = emp_code
            JOIN edoc_vacation vac
                ON edoc.edoc_num = vac.edoc_num
        WHERE
            emp_code = #{empCode} AND
            edoc.edoc_status IN ('0','1','2')
        ORDER BY
            edoc.edoc_enroll_date DESC
    </select>
    
    
    
</mapper>