@charset "UTF-8";

.notice-card {
  width: 100%;
  height: 100%;
}

.notice-card h4 {
  margin: 0;
}

.notice-card .card-header {
  padding: 1rem 1rem;
}

.notice-card .card-body {
  padding: 1rem 1rem;
}

.notice-card .table > tbody > tr > td {
  padding: 0.5rem;
}