<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ga.gaent.mapper.EdocMapper">

    <!--
        @author : 정건희
        Description : 새 결재 진행에서 select로 선택하는 기안서 양식 정보
    -->
    <select id="selectEdocType" resultType="com.ga.gaent.vo.EdocFormTypeVO">
        SELECT
            edoc_type edocType,
            edoc_form_title edocFormTitle,
            edoc_form_desc edocFormDesc,
            edoc_form_create_date edocFormCreateDate,
            edoc_form_update_date edocFormUpdateDate
        FROM
            edoc_form_type
    </select>

    <!--
        @author : 조인환
        Description : 내가 결재(승인, 반려)해야 할 대기 문서의 정보
    -->
    <select id="selectApprList" parameterType="Map" resultType="Map">
        SELECT
            edoc.edoc_enroll_date edocEnrollDate,
            edoc.edoc_num edocNum,
            edoc.edoc_type edocType,
            edoc.edoc_status edocStatus,
            edoc.edoc_title edocTitle,
            DATE_FORMAT(edoc.edoc_done_date, '%Y년 %m월 %d일') edocDoneDate,
            etype.edoc_form_title edocFormTitle,
            edoc.file_name fileName,
            emp.emp_code writerEmpCode,
            emp.emp_kor_name korName
        FROM 
            edoc
                JOIN emp
                    ON edoc_writer = emp_code
                JOIN edoc_approval app
                    ON app.edoc_num = edoc.edoc_num
                JOIN edoc_form_type etype
                    ON edoc.edoc_type = etype.edoc_type
        WHERE 
            app.approver = #{empCode}
            <choose>
                <when test="request == 0"> <!-- 결재 대기문서 -->
                    AND edoc.edoc_done_date IS NULL
                    AND app.appr_status = '0'
                </when>
                <when test="request == 1"> <!-- 결재 진행문서 -->
                    AND edoc.edoc_done_date IS NULL
                    AND edoc.edoc_status != '0'
                    AND app.appr_status != '0'
                </when>
                <when test="request == 2"> <!-- 본인이 결재한 문서 -->
                    AND app.appr_status != '0'
                </when>
            </choose>
        ORDER BY
            edoc.edoc_enroll_date DESC,
            edoc.edoc_num DESC
            <if test="startRow != null">
                LIMIT
                    #{startRow}, #{rowPerPage}
            </if>
    </select>
    
    <select id="apprListCnt" parameterType="Map" resultType="int">
        SELECT
            COUNT(*)
        FROM 
            edoc
                JOIN emp
                    ON edoc_writer = emp_code
                JOIN edoc_approval app
                    ON app.edoc_num = edoc.edoc_num
                JOIN edoc_form_type etype
                    ON edoc.edoc_type = etype.edoc_type
        WHERE 
            app.approver = #{empCode}
            <choose>
                <when test="request == 0"> <!--  결재 대기문서 -->
                    AND edoc.edoc_done_date IS NULL
                    AND app.appr_status = '0'
                </when>
                <when test="request == 1"> <!-- 결재 진행문서 -->
                    AND edoc.edoc_done_date IS NULL
                    AND edoc.edoc_status != '0'
                    AND app.appr_status != '0'
                </when>
                <when test="request == 2"> <!-- 본인이 결재한 문서 -->
                    AND app.appr_status != '0'
                </when>
            </choose>
    </select>

    <!--
        @author : 조인환
        Description : 내가 결재(승인, 반려)해야 할 대기 문서의 상세 정보
    -->
    <select id="selectEdocDetail" parameterType="map" resultType="Map">
        SELECT
            edoc.edoc_enroll_date edocEnrollDate,
            edoc.edoc_num edocNum,
            edoc.edoc_status edocStatus,
            edoc.edoc_title edocTitle,
            edoc.edoc_type edocType,
            edoc.edoc_done_date edocDoneDate,
            edoc.file_name fileName,
            ef.original_file_name edocOriginalfileName,
            etype.edoc_form_title edocFormTitle,
            emp.emp_code writerEmpCode,
            emp.emp_kor_name edocWriter,
            team.team_name teamName,
            appr1.approver approver1,
            appr1.appr_order apprOrder1,
            appr1.appr_status apprStatus1,
            appr1.appr_reason apprReason1,
            DATE_FORMAT(appr1.appr_date, '%Y-%m-%d %H:%m') apprDate1,
            IFNULL(appr2.approver, 'none') approver2,
            appr2.appr_order apprOrder2,
            IFNULL(appr2.appr_status, -1 ) apprStatus2,
            appr2.appr_reason apprReason2,
            DATE_FORMAT(appr2.appr_date, '%Y-%m-%d %H:%m') apprDate2
        FROM
            edoc
                JOIN emp
                    ON edoc_writer = emp_code
                JOIN team
                    ON emp.team_code = team.team_code
                JOIN edoc_form_type etype
                    ON edoc.edoc_type = etype.edoc_type
                LEFT JOIN edoc_approval appr1
                    ON edoc.edoc_num = appr1.edoc_num AND appr1.appr_order = '1'
                LEFT JOIN edoc_approval appr2
                    ON edoc.edoc_num = appr2.edoc_num AND appr2.appr_order = '2'
                LEFT JOIN edoc_file ef
                    ON edoc.file_name = ef.file_name
        WHERE
            edoc.edoc_num = #{edocNum} AND(
                emp.emp_code = #{empCode}
                OR appr1.approver = #{empCode}
                OR appr2.approver = #{empCode}
            )
    </select>
    
    <!-- 내 결재 대기,진행,완료문서 (개인문서)   -->
    <select id="selectMyEdocSubmitList" parameterType="map" resultType="com.ga.gaent.vo.EdocVO">
        SELECT 
             edoc.edoc_num edocNum,
             edoc.edoc_title edocTitle,
             edoc.edoc_type edocType,
             etype.edoc_form_title edocTypeName,
             edoc.file_name fileName,
             DATE_FORMAT(edoc.edoc_done_date, '%Y년 %m월 %d일') edocDoneDate,
             DATE_FORMAT(edoc.edoc_enroll_date, '%Y년 %m월 %d일') edocEnrollDate,
             edoc.edoc_status edocStatus
        FROM
            edoc
                JOIN edoc_form_type etype
                    ON edoc.edoc_type = etype.edoc_type
        WHERE 
            edoc.edoc_writer = #{empCode}
            <choose>
                <when test="request == 0"> <!-- 결재대기문서 -->
                    AND edoc.edoc_done_date IS NULL
                </when>
                <when test="request == 1"> <!-- 결재승인문서 -->
                    AND edoc.edoc_done_date IS NOT NULL
                    AND(
                    edoc.edoc_status = '1' OR
                    edoc.edoc_status = '2'
                    )
                </when>
                <when test="request == 2"> <!-- 결재반려문서 -->
                    AND(
                    edoc.edoc_status = '-1'
                    )
                </when>
            </choose>
        ORDER BY
            edoc.edoc_enroll_date DESC
            <if test="startRow != null">
                LIMIT
                    #{startRow}, #{rowPerPage}
            </if>
    </select>
    
    <!-- 내 결재 대기,진행,완료문서   -->
    <select id="edocSubmitListCnt" parameterType="map" resultType="int">
        SELECT 
             COUNT(*)
        FROM
            edoc
                JOIN edoc_form_type etype
                    ON edoc.edoc_type = etype.edoc_type
        WHERE
            edoc.edoc_writer = #{empCode}
            <choose>
                <when test="request == 0"> <!-- 결재대기문서 -->
                    AND edoc.edoc_done_date IS NULL
                </when>
                <when test="request == 1"> <!-- 결재승인문서 -->
                    AND edoc.edoc_done_date IS NOT NULL
                    AND(
                    edoc.edoc_status = '1' OR
                    edoc.edoc_status = '2'
                    )
                </when>
                <when test="request == 2"> <!-- 결재반려문서 -->
                    AND(
                    edoc.edoc_status = '-1'
                    )
                </when>
            </choose>
    </select>
    
    <select id="selectDraftDetail" parameterType="int" resultType="map" >
        SELECT
            DATE_FORMAT(prop_start_date,'%Y년 %m월 %d일') propStartDate,
            DATE_FORMAT(prop_end_date,'%Y년 %m월 %d일') propEndDate,
            prop_title propTitle,
            prop_content propContent
        FROM 
            edoc_draft
        WHERE
            edoc_num = #{edocNum}
    </select>
    
    <select id="selectVactionDetail" parameterType="int" resultType="map" >
        SELECT
            vac_type vacType,
            DATE_FORMAT(vac_start_date,'%Y년 %m월 %d일') vacStartDate,
            DATE_FORMAT(vac_end_date,'%Y년 %m월 %d일') vacEndDate,
            vac_reason vacReason
        FROM
            edoc_vacation
        WHERE 
            edoc_num = #{edocNum}
    </select>
    
    <select id="selectProjectDetail" parameterType="int" resultType="map" >
        SELECT
            project_title projectTitle,
            project_content projectContent,
            project_estimate projectExtimate
        FROM
            edoc_project
        WHERE
            edoc_num = #{edocNum}
    </select>
    
    <select id="selectEventDetail" parameterType="int" resultType="map" >
        SELECT
            event_type eventType,
            DATE_FORMAT(event_date,'%Y년 %m월 %d일') eventDate,
            event_place eventPlace,
            event_expense eventExpense
        FROM
            edoc_event
        WHERE
            edoc_num = #{edocNum}
    </select>
    
    <select id="selectReportDetail" parameterType="int" resultType="map" >
        SELECT
            report_type reportType,
            report_content reportContent
        FROM
            edoc_report
        WHERE
            edoc_num = #{edocNum}
    </select>
    
    <select id="findKorName" parameterType="String" resultType="String" >
        SELECT
            emp_kor_name empKorName
        FROM
            emp
        WHERE
            emp_code = #{empCode}
    </select>
    
    <select id="waitEdocCnt" parameterType="Map" resultType="int">
        SELECT
            COUNT(*)
        FROM
            edoc_approval app
                JOIN edoc e ON app.edoc_num = e.edoc_num 
        WHERE
            app.approver = #{empCode}
            <choose>
                <when test="request == 0"> <!-- 결재 대기문서 -->
                    AND e.edoc_done_date IS NULL
                    AND app.appr_status = '0'
                </when>
                <when test="request == 1"> <!-- 결재 진행문서 -->
                    AND e.edoc_done_date IS NULL
                    AND e.edoc_status != '0'
                    AND app.appr_status != '0'
                </when>
            </choose>
    </select>
    
</mapper>
